.cover {
  padding-top: 66px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .54fr .46fr;
  justify-items: center;
  gap: 16px;
}

.cover:hover .cover__overlay {
  background-color: rgba(42, 44, 47, 0.6);
}

@media screen and (min-width: 768px) {

  .cover {
    padding-top: 90px;
  }

}

@media screen and (min-width: 1024px) {

  .cover {
    padding-top: 92px;
  }

}
